body {
    background-color: #ecebe6;
    max-width: 1000px;
}

div h3 {
    font-size: 30px;
    color: red;
}

div li {
    font-size: 17x;
    color: grey;
}

div.education table th {
    padding: 0 0.6rem;
}

div.bio {
    text-align: center;
    font-size: x-large;
}
div.bio p {
    text-align: left;
    font-size: 20px;
    padding: 0;
    letter-spacing: 0px;
}

div.summary h2 {
    color: blue;
    font-size: 35px;
}

div.summary p {
    font-size: 17px;
}

div.education h2 {
    color: blue;
    font-size: 35px;
}

div.education table {
    background-color: #f3e2e5;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    text-align: left;
    line-height: 24px;
}

div.education table th {
    padding: 0 0.6rem;
}


@media screen and (max-width: 675px) {
    
    body {
        background-color: #927f21;
        color: white;
    }
    
    div h3 {
        font-size: 20px;
        color: rgb(74, 228, 27);
    }
    
    div li {
        font-size: 10x;
        color: rgb(248, 247, 247);
    }
    
    div.education table th {
        padding: 0 0.1px;
    }
    
    div.bio {
        text-align: center;
        color: rgb(253, 135, 0);
        font-size: large;
    }
    div.bio p {
        text-align: left;
        color: fuchsia;
        font-size: 20px;
        padding: 0;
        letter-spacing: 0px;
    }
    
    div.summary h2 {
        color: pink;
        font-size: 35px;
    }
    
    div.summary p {
        font-size: 17px;
    }
    
    div.education h2 {
        color: pink;
        font-size: 35px;
    }
    
    div.education table {
        background-color: transparent;
        padding: 10px;
        margin-top: auto;
        text-align: left;
        line-height: 19px;
    }
    
    div.education table th {
        padding: 0 0.6rem;
    }
}